<div class="row">
    <!--<div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>Sortable Lists
                <div class="pull-right action-buttons">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog" style="margin-right: 0px;"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                            </li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-trash"></span>Delete</a>
                            </li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-flag"></span>Flag</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="panel-body">
                <div class="root">
                    <div>
                        <input type='text'>
                        <button type="button" id="buttonCreate">
                            Afegeix
                        </button>
                    </div>
                    <div class="content">
                        <div class="list">
                        </div>
                    </div>
                </div>
                <button type="button" id="buttonCreate">OKS</button>
                <ul class="list-group">
                    <% orders.each(function(o) { %>
                    <li class="list-group-item">
                        <span>Id: <%= o.get('id') %>, description: <%= o.get('description') %>
                        </span>
                    </li>
                    <% }); %>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            Total Count <span class="label label-info"><%= orders.length %></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-lg btn-block">Vista</button>
        <button type="button" class="btn btn-default btn-lg btn-block">Config</button>
        <button type="button" class="btn btn-default">Default</button>
    </div>-->
    <div class="row"> <div class="col-sm-4"> <img src="/media/images/less.png" alt="Sass and Less support" class="img-responsive">
        <h3>Senzillesa</h3> <p>Tasker es caracteritza per ser un gestor de tasques facilíssim d'utilitzar, no necessitarás aprenentatge,
            ni perdrás el temps entenguent farregoses eines d'administració de tasques. Estem aqui per facilitar-te la feina, a més Tasker se
            suposa que és un administrador de temps, i per això no volem ferte'l perdre.
            <strong>Be Tasker my friend</strong></p>
    </div> <div class="col-sm-4"> <img src="/media/images/dispositius.png" alt="Responsive across devices" class="img-responsive">
        <h3>Multiplataforma</h3> <p>Emporta't tasker allà on siguis. Utilitza'l des de l'ordinador, la tauleta, el teu mòbil... <br>
            Avui en día la mobilitat és fonamental, i per això volem que puguis saber en cada moment els teus horaris, notes... en fi, configura
            Tasker com vulguis, nosaltres ens encarreguem de la resta.
        </p> </div> <div class="col-sm-4">
        <img src="/media/images/caracteristiques.png" alt="Components" class="img-responsive"> <h3>Mùltiples característiques</h3>
        <p>Descobreix el que Tasker pot fer per tu. Des de integració amb altres plataformes fins a compartició amb altres
        usuaris.</p> </div> </div>
</div>
<div class="row">
    <div class="thumbnail">
        <div class="caption">
            <h3>Descobreix Tasker</h3>
            <p>Petit HowTo perquè aprenguis ràpidament com funciona Tasker</p>
            <p><a href="#howto" class="btn btn-primary" role="button">Ves-hi</a></p>
        </div>
    </div>
</div>

<div class="span12" style="margin-bottom:20px">
    <a href="https://www.facebook.com/" target="_blank"><img src="/media/ico/facebook.png" target="_blank" onmouseover="this.width=40;this.height=40;" onmouseout="this.width=25;this.height=25;" width="25" height="25"/></a>
    <a href="https://twitter.com/" target="_blank"><img src="/media/ico/twitter.png" target="_blank" onmouseover="this.width=40;this.height=40;" onmouseout="this.width=25;this.height=25;" width="25" height="25" /></a>
    <a href="https://www.youtube.com/" target="_blank"><img src="/media/ico/youtube.png" target="_blank" onmouseover="this.width=40;this.height=40;" onmouseout="this.width=25;this.height=25;" width="25" height="25" /></a>
    <a href="https://www.instagram.com/" target="_blank"><img src="/media/ico/instagram.png" target="_blank" onmouseover="this.width=40;this.height=40;" onmouseout="this.width=25;this.height=25;" width="25" height="25" /></a>
</div>