<div class="panel-primary">
    <form>
        <div class="form-group">
            <label for="InputUserName">User Name</label>
            <input type="text" class="form-control" id="InputUserName" placeholder="">
            <label for="InputEmail">Email address</label>
            <input type="email" class="form-control" id="InputEmail" placeholder="">
        </div>
        <div class="form-group">
            <button id="btn_changePassword" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Change Password</button>

            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body">
                            <label for="InputPassword">New Password</label>
                            <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                            <label for="RepeatPassword">Repeat Password</label>
                            <input type="password" class="form-control" id="RepeatPassword" placeholder="Password">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="btn_saveNewPassword" type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="InputImgProfile">File input</label>
            <input type="file" id="InputImgProfile">
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>