<div class="panel-body">
    <div class="row">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="list-group">
                    <button id="btn_perfil" type="button" class="list-group-item">Perfil</button>
                    <button id="btn_config" type="button" class="list-group-item">Configuració</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8" id="contingutPerfil">
            </div>
        </div>
    </div>
</div>