<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
        #polcalla:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="container-fluid" id="contingutPissarra">
    <h1>Dashboard</h1>
    <p>This is your tasks</p>
    <p>Nom </p><input type="text">
    <button id="buttonOpenDashboard">Nova Tasca</button>
    <div class="row">
        <div id="openTask" class="col-sm-4" id="list" style="background-color:indianred; padding-bottom: 50%;">
        </div>
        <div class="col-sm-4" style="background-color:yellow; padding-bottom: 50%;">Assigned</div>
        <div class="col-sm-4" style="background-color:greenyellow; padding-bottom: 50%;">Finish</div>
    </div>
</div>

</body>