<div class = "panel-primary">
    <h2>Tasks</h2>
    <div class ="input-group">
        <label for="username" class="col-md-3 control-label">Task Name:</label>
        <input type="text" class="form-control" name="taskName" placeholder="Task name enter">
        <label for="username" class="col-md-3 control-label">Task Description:</label>
        <input type="text" class="form-control" name="taskDesc" placeholder="Description task">
    </div>

    <div class="col-sm-12 controls">
        <button id="btn-newTask" class="btn btn-primary">Add Task</button>
        <button id="btn-deleteTask" class="btn btn-primary">Delete Task</button>
    </div>

</div>