<div class="row">
    <div class="col-lg-6">
        <label>Cerca per e-mail</label>
        <div class="input-group">
            <input type="text" class="form-control" id="InputEmailName" placeholder="@e-mail">
                    <span class="input-group-btn">
                    <button id="cercaUsuarisEmail" class="btn btn-success" role="button" type="button">Cerca Usuaris</button>
                    </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-md-6">
        <div class="listUsers">
        </div>
    </div>
</div>