<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Teams</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <label><pre>Equip 1</pre></label>
                <div class="list">
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <label><pre>Equip 2</pre></label>
                <div class="team">
                </div>
                <br>
            </div>
        </div>

        <br><br>Configure and Create Teams<hr>
        <div class="row">
            <div class="col-lg-6">
                <label>Cerca per nom d'usuari</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="InputUserName" placeholder="name">
                    <span class="input-group-btn">
                    <button id="cercarUsuaris" class="btn btn-success" role="button" type="button">Cerca Usuaris</button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="lista">
                </div>
            </div>
        </div>

        <br><hr>
        <div class="row">
            <div class="col-lg-6">
                <label>Cerca per e-mail</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="InputEmailName" placeholder="@e-mail">
                    <span class="input-group-btn">
                    <button id="cercaUsuarisEmail" class="btn btn-success" role="button" type="button">Cerca Usuaris</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-md-6">
                <div class="listb">
                </div>
            </div>
        </div>

        <div class="row" style="border: 0.2px solid gray; margin: 70px;">
            <div class="col-md-6">
                <h3>Your Team</h3>
                <div class="listAdd">
                </div>
                <br>
                <p><a id="newTeam" class="btn btn-primary" role="button">Create a Team</a></p>
            </div>
        </div>
        <div class="_team">

        </div>
    </div>
</div>