<div class="panel-primary">
    <h1>Notes</h1>
    <button id="btnNewNote" class="btn btn-default" data-toggle="modal" data-target="#myModal"> New Task </button>
    <div class="row">
        <div id="1stColumnn" class="col-xs-6 col-md-4">
            <div class="panel-body">
                <ul></ul>
            </div>
        </div>
        <div id="2ndColumn" class="col-xs-6 col-md-4">
            <div class="panel-body">

            </div>
        </div>
        <div id="3thColumn" class="col-xs-6 col-md-4">
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>